<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  {% include 'center/layout/head.html' %}  
 
  <style>
    .header { background-color: blue; }
    .nav { background-color: violet; float:left;}
  </style>

</head>
<body>
    <div class="header">
        제발 빨리 되기를...
    </div>

    <div class="nav">
        이거는 되니?
    </div>


    <div class="container">
        <div class="row">
          <div class="col-11 bg-info">.col-11</div>

          <div class="col-4 bg-secondary">.col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
          <div class="col-6 bg-warning">.col-6<br>Subsequent columns continue along the new line.</div>
          <div class="col-5 bg-warning">.col-1<br>Subsequent columns continue along the new line.</div>

    </div>
</div>
</body>
</html>