<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>전체 회원 목록</title>
  {% include 'center/layout/head.html' %}
  <link
        href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css"
        rel="stylesheet"
        crossorigin="anonymous"/>


  <style>
    /* content */
    .content {
      width: 83%;
      height: 80%;
      float: left;
      color: black;
      padding-top: 17px;
      padding-right: 30px;
      font-size: 18px;
      font-family: 'Noto Sans KR', sans-serif;
    }

    .table {
      border: 1.6px solid black;
      text-align: center;
    }
  </style>

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      {% include 'center/layout/base.html' %}
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
        <h3>회원 목록</h3>
        <div class="table-responsive">
          <table class="table table-striped table-sm" id="data_table">
            <thead></thead>
            <tbody></tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

  <script>

    $(function () {

      function getCustomerList() {
        $.ajax({
          url: "http://localhost:8000/customer/customer_info/",
          method: "GET",
        }).done(function (response) {
          console.log(response);
          $('#data_table').DataTable({
            data: response,
            columns: [
              { title: 'ID', data: 'id', className : 'dt-head-center' },
              { title: 'USERNAME', data: 'username', className : 'dt-head-center'},
              { title: 'GEAR', data: 'gear_type',className : 'dt-head-center' }
            ]
          });

        });
      }

      getCustomerList();
    });


  </script>

</body>

</html>
<!-- 예림 -->