<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>모든 주문 히스토리 확인 페이지</title>

  {% include 'center/layout/head.html' %}

  <style>
    /* content*/
    .content {
      width: 83%;
      height: 80%;
      float: left;
      color: black;
      padding-top: 17px;
      padding-right: 30px;
      font-size: 18px;
      font-family: 'Noto Sans KR', sans-serif;
    }

    .table {
      border: 1.6px solid black;
      text-align: center;
    }
  </style>

  <script>

    $(function () {

      function getTotalList() {

        $.ajax({

          url: "/center/totalorder/get/",
          method: "GET",

        }).done(function (response) {

          console.log(response);
          $('#data_table').DataTable({

            data: response,

            columns: [
              { title: 'ID', data: 'id', className: 'dt-head-center' },
              { title: 'USERNAME', data: 'username', className: 'dt-head-center' },
              { title: '기어', data: 'gear_type', className: 'dt-head-center' },
              { title: '출발지', data: 'start_address', className: 'dt-head-center' },
              { title: '도착지', data: 'end_address', className: 'dt-head-center' },
              { title: '운영일', data: 'operation_day', className: 'dt-head-center' },
              {
                title: 'ORDER_TIME',
                data: 'updated_at',
                className: 'dt-head-center',
                render: function (data) {
                  const date = new Date(data);
                  return date.toLocaleString('ko-KR', { hour12: true, hour: 'numeric', minute: 'numeric', second: 'numeric' });
                }
              },
              {
                title: 'ORDER_INFO',
                data: null,
                className: 'dt-head-center',
                render: function (data) {
                  const orderKindText = data.order_kind === "order" ? '주문' : data.order_kind === "change" ? '변경' : data.order_kind === "cancel" ? '취소' : '';
                  const orderTypeText = data.order_type ? '요청' : '완료';
                  return orderKindText + orderTypeText;
                }
              }
            ]
          });
        });
      }


      getTotalList()
    });

  </script>

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      {% include 'center/offmain.html' %}
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
        <h3>전체 주문 목록</h3>
        <div class="table-responsive">
          <table class="table table-hover" id="data_table">
            <thead></thead>
            <tbody class="table-group-divider"></tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

</body>

</html>
