<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>전체 회원 목록</title>
  {% include 'center/layout/head.html' %}
  {% include 'center/offmain.html' %}

  <style>
    /* content*/
    .content {
      width: 83%;
      height: 80%;
      float: left;
      color: black;
      padding-top: 17px;
      padding-right: 30px;
      font-size: 18px;
      font-family: 'Noto Sans KR', sans-serif;
    }

    .table {
      border: 1.6px solid black;
      text-align: center;
    }

    /* footer */
    .basefooter {
      width: 100%;
      height: 5%;
    }
  </style>


  <script>
    $(function () {
      $.ajax({
        url: "http://127.0.0.1:8000/customer/customer_info/",
        method: "GET",
        dataType: 'json'
      }).done(function (response) {
        for (var i = 0; i < response.length; i++) {
          var user = response[i];
          var row = $("<tr>");
          $("<td>").text(user.username).appendTo(row); //td요소를 tr요소에 추가
          $("<td>").text(user.name).appendTo(row);
          $("<td>").text(user.phone_number).appendTo(row);
          $("<td>").text(user.gear_type).appendTo(row);
          $("#data_table").append(row); //row를 #data_table 에 추가
        }
      });
    })
  </script>

</head>

<body>
  
  <div class="content">
    <table class="table table-hover" id="data_table">
      <thead class="table-warning">
        <tr>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">전화번호</th>
          <th scope="col">기어</th>
        </tr>
      </thead>
      <tbody class="table-group-divider"></tbody>
    </table>

  </div>


  <footer class="basefooter"></footer>
</body>

</html>

// <!-- ID 별로 정렬하기 -->
// <!-- 전화번호 입력하면 search 가능..? (시간되면 하기) -->