<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'center/layout/head.html' %}
  <title>Document</title>

  <script>

    $(function () {

      function getCustomerList() {
        $.ajax({
          url: "http://localhost:8000/customer/customer_info/",
          method: "GET",
        }).done(function (response) {
          console.log(response);
          $('#myTable').DataTable({
            data: response,
            columns: [
              { title: 'ID', data: 'id' },
              { title: 'USERNAME', data: 'username' },
              { title: 'GEAR', data: 'gear_type' }
            ]
          });

        });
      }

      getCustomerList();
    });

  </script>
</head>

<body>
  <table id="myTable" class="display">
    <thead></thead>
    <tbody></tbody>
  </table>
</body>

</html>