<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>실시간 접수 상황 확인 페이지</title>

    {% include 'center/layout/head.html' %} 
    {% include 'center/layout/base.html' %} 


  <style>
    /* content*/
    .content {width: 83%; height: 80%; float: left; color: black; padding-top: 17px; 
    padding-right: 30px; font-size: 18px; font-family: 'Noto Sans KR', sans-serif; }

    .table { border: 1.6px solid black; text-align: center; } 

    /* footer */
    .basefooter { width: 100%; height: 5%; }
  </style>


  <!-- <script>
    $(function () {
        function getOrderdataList() {
            $.ajax({
                url: "http://localhost:8000/customer/orderdata/",
                method: "GET",
            }).done(function (response) {
                console.log(response);
                const tr_array = response.map(orderdata => $(
                    `<tr>
                        <td>${orderdata.index}</td>
                        <td>${orderdata.customer}</td>
                        <td>${orderdata.phone_number}</td>
                        <td>${orderdata.gear_type}</td>
                        <td>${orderdata.start_address}</td>
                        <td>${orderdata.end_address}</a></td>
                        <td>${orderdata.operation_day}</td>
                        <td>${orderdata.order_type}</td>
                        <td>${orderdata.is_hide}</td>
                    </tr>`
                ))
                $("#data_table > tbody").append(tr_array);
            });
        }

        getOrderdataList();
    });
  </script> -->


</head>

<body>
    <div class="content">
        <table class="table table-hover" id="data_table"> 
            <thead class="table-warning">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">ID</th>
                  <th scope="col">전화번호</th>
                  <th scope="col">기어</th>
                  <th scope="col">출발지</th>
                  <th scope="col">목적지</th>
                  <th scope="col">등록일</th>
                  <th scope="col">접수상황</th>
                  <th scope="col">최종확인</th>
                </tr>
              </thead>
              <tbody class="table-group-divider" id="data_table">
                <!-- <tr>
                  <th scope="row">1</th>
                  <td>djfhd22</td>
                  <td>01012345678</td>
                  <td>수동</td>
                  <td>이도이동</td>
                  <td>노형동</td>
                  <td>2023-08-08</td>
                  <td><a><button type="button" class="btn btn-danger">접수 요청</button></a></td>
                  <td><button type="button" class="btn btn-dark" disabled>Yes</button></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton010338454</td>
                  <td>@fat</td>
                  <td>삼도이동</td>
                  <td>외도동</td>
                  <td>2023-08-05</td>
                  <td><a><button type="button" class="btn btn-primary">접수 요청</button></a></td>
                  <td><button type="button" class="btn btn-dark" disabled>Yes</button></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry the Bird</td>
                  <td>Thornton010338454</td>
                  <td>@twitter</td>
                  <td>일도이동</td>
                  <td>삼양동</td>
                  <td>2023-08-12</td>
                  <td><a><button type="button" class="btn btn-success">취소 요청</button></a></td>
                  <td><button type="button" class="btn btn-dark" disabled>Yes</button></td>
                </tr> -->
              </tbody>
        </table>
        
    </div>
    

    <footer class="basefooter"></footer>
</body>
</html>

<!-- 접수상황 버튼 누르면 
  1. __완료가 text로 되게 (색깔 유의)
  2. 최종확인 버튼 활성화면서 깜박깜박거리게 -->
