<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>실시간 접수 상황 확인 페이지</title>

  {% include 'center/layout/head.html' %}

  <style>
    /* content*/
    .content {
      width: 83%;
      height: 80%;
      float: left;
      color: black;
      padding-top: 17px;
      padding-right: 30px;
      font-size: 18px;
      font-family: 'Noto Sans KR', sans-serif;
    }

    .table {
      border: 1.6px solid black;
      text-align: center;
    }

    /* 버튼 안 글씨 크기 조절 */
    .btn-detail-ask {
      font-size: 16px;
    }

    /* 체크박스 스타일*/
    .form-check-input {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none;
      width: 22px;
      height: 22px;
      border: 3px solid black;
      border-radius: 3px;
      cursor: pointer;
    }

    .form-check-input:checked {
      background-color: black;
      border-color: black;
    }
  </style>


  <script>

    $(function () {
      getRealtimeOrderList();
      setInterval(getRealtimeOrderList, 5000);
    });

    function getRealtimeOrderList() {
        $.ajax({
          url: "/center/realtimeorder/get/",
          method: "GET",
        }).done(function (response) {

          // 시간별로 정렬
          response.sort(function (a, b) {
            const realdatetimeA = a.order_kind === "order" ? a.created_at : a.updated_at;
            const realdatetimeB = b.order_kind === "order" ? b.created_at : b.updated_at;
            return new Date(realdatetimeA) - new Date(realdatetimeB);
          });

          const tr_array = response.map((getrealtimeorder, index) => {

            let orderKindText = "";
            let orderButtonColor = "";
            let ordertime = "";

            // order_kind에 따라 다른 값을 할당
            if (getrealtimeorder.order_kind === "order") {
              orderKindText = "주문";
              orderButtonColor = "danger";
              ordertime = getrealtimeorder.created_at.slice(11, 19);
            } else if (getrealtimeorder.order_kind === "change") {
              orderKindText = "변경";
              orderButtonColor = "warning";
              ordertime = getrealtimeorder.updated_at.slice(11, 19);
            } else if (getrealtimeorder.order_kind === "cancel") {
              orderKindText = "취소";
              orderButtonColor = "success";
              ordertime = getrealtimeorder.updated_at.slice(11, 19);
            }

            let actionElement;

            if (getrealtimeorder.order_type === true) {

              // If order_type === true, 버튼
              actionElement = $(`
                <button id="${getrealtimeorder.id}" class="btn btn-${orderButtonColor} btn-sm btn-detail-ask"
                  data-toggle="tooltip" title="클릭 시 고객님께 정보가 전송">
                  ${orderKindText}요청
                </button>
              `);

            } else {

              // If order_type === false, 텍스트
              actionElement = $("<span>")
                .text(orderKindText + "완료")
                .attr("id", "ask_text")
                .addClass(`text-${orderButtonColor}`)
                .css("font-weight", "bold");

            }

            const tdCheckButton = $('<td>');
            const orderCheckButton = $(`<input class="form-check-input" type="checkbox" value="" id="${getrealtimeorder.id}hide" 
                    data-toggle="tooltip" title="클릭 시 오늘 접수 목록으로 이동"
                    data-pkkey="${getrealtimeorder.id}" data-ordertype="${getrealtimeorder.order_type}">`);
            orderCheckButton.click(function () {
              //alert('REMOVE!!!!!');
              const orderType = $(this).attr('data-ordertype');
              const pkKey = $(this).attr('data-pkkey');

              if (orderType === 'false') {
                $.ajax({
                  url: `/center/realtimeorder/get/${pkKey}/`,
                  method: 'PUT',
                  contentType: 'application/json',
                  data: JSON.stringify({ is_hide: true }),
                  success: function (response) {
                    $('#row_' + pkKey).remove()
                  },
                  error: function (xhr, status, error) {   
                  }
                });
              } else {
                // alert("Can't remove!!!")
              }
            })
            tdCheckButton.append(orderCheckButton);
            
            const resultRow = $(
              `<tr id='row_${getrealtimeorder.id}'>
                <td>${getrealtimeorder.id}</td>
                <td>${getrealtimeorder.phone_number}</td>
                <td>${getrealtimeorder.gear_type}</td>
                <td>${getrealtimeorder.start_address}</td>
                <td>${getrealtimeorder.end_address}</td>
                <td>${ordertime}</td>
                <td>${getrealtimeorder.calculated_price+getrealtimeorder.bidding_price},000원</td>
                <td>${getrealtimeorder.bidding_price},000원</td>
                <td>
                  ${actionElement.prop('outerHTML')}
                </td>
              </tr>`
            );
            resultRow.append(tdCheckButton)
            return resultRow;
          });
          $("#data_table > tbody").empty();
          $("#data_table > tbody").append(tr_array);
        });
      }


    // 접수, 변경, 취소 요청 시 (버튼 처리)
    $(document).on("click", ".btn-detail-ask", function () {

      const button = $(this);
      const orderKindText = button.text();
      const changeText = orderKindText.replace("요청", "") + "완료";
      const orderId = button.data("order-id");
      const buttonClasses = button.attr("class");
      const orderButtonColor = buttonClasses.split("btn-")[1].split(" ")[0];

      const spanElement = $("<span>")
        .text(changeText)
        .attr("id", "ask_text")
        .addClass(`text-${orderButtonColor}`)
        .css("font-weight", "bold");

      button.replaceWith(spanElement);

      const pkKey = button.attr("id");



      // PUT - 접수 상태 변경 요청
      $.ajax({

        url: `/center/realtimeorder/get/${pkKey}/`,
        method: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify({ order_type: false }),

        success: function (response) {
          getRealtimeOrderList();
        },

        error: function (xhr, status, error) {
        }
      });
    });


    // tooltip
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });


  </script>

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      {% include 'center/layout/base.html' %}
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
        <h3>실시간 접수 상황</h3>
        <div class="table-responsive">
          <table class="table table-striped table-sm" id="data_table">
            <thead>
              <tr>
                <th scope="col">주문번호</th>
                <th scope="col">전화번호</th>
                <th scope="col">기어</th>
                <th scope="col">출발지</th>
                <th scope="col">목적지</th>
                <th scope="col">등록시간</th>
                <th scope="col">요금</th>
                <th scope="col">추가요금</th>
                <th scope="col">접수상황</th>
                <th scope="col">최종확인</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

</body>

</html>