<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>실시간 접수 상황 확인 페이지</title>

  {% include 'center/layout/head.html' %}
  {% include 'center/layout/base.html' %}


  <style>
    /* content*/
    .content {
      width: 83%;
      height: 80%;
      float: left;
      color: black;
      padding-top: 17px;
      padding-right: 30px;
      font-size: 18px;
      font-family: 'Noto Sans KR', sans-serif;
    }

    .table {
      border: 1.6px solid black;
      text-align: center;
    }

    /* 버튼 안 글씨 크기 조절 */
    .btn-detail-ask {
      font-size: 16px;
    }

    /* 체크박스 스타일*/
    .form-check-input {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none;
      width: 22px;
      height: 22px;
      border: 3px solid black;
      border-radius: 3px;
      cursor: pointer;
    }

    .form-check-input:checked {
      background-color: black;
      border-color: black;
    }
  </style>


  <script>
    $(function () {

      let orderKindText = "";
      let orderButtonColor = "";

      function getRealtimeOrderList() {
        $.ajax({
          url: "http://localhost:8000/center/realtimeorder/get/",
          method: "GET",
        }).done(function (response) {
          console.log(response);

          const tr_array = response.map((getrealtimeorder, index) => {

            // order_kind에 따라 다른 값을 할당
            if (getrealtimeorder.order_kind === "order") {
              orderKindText = "주문";
              orderButtonColor = "danger";
            } else if (getrealtimeorder.order_kind === "change") {
              orderKindText = "변경";
              orderButtonColor = "warning";
            } else if (getrealtimeorder.order_kind === "cancel") {
              orderKindText = "취소";
              orderButtonColor = "success";
            }

            return $(
              `<tr>
              <td>${index + 1}</td>
              <td>${getrealtimeorder.phone_number}</td>
              <td>${getrealtimeorder.gear_type}</td>
              <td>${getrealtimeorder.start_address}</td>
              <td>${getrealtimeorder.end_address}</td>
              <td>${getrealtimeorder.operation_day}</td>
              <td>
                <button id="${getrealtimeorder.id}" class="btn btn-${orderButtonColor} btn-sm btn-detail-ask"
                data-toggle="tooltip" title="클릭 시 고객님께 정보가 전송">
                  ${orderKindText}요청</button>
              </td>
              <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" 
                  data-toggle="tooltip" title="클릭 시 오늘 접수 목록으로 이동">
              </td>
            </tr>`
            );
          });

          $("#data_table > tbody").append(tr_array);
        });
      }

      getRealtimeOrderList();

    });


    // 접수, 변경, 취소 요청 시 (버튼 처리)
    $(document).on("click", ".btn-detail-ask", function () {
      const button = $(this);
      const orderKindText = button.text();
      const changeText = orderKindText.replace("요청", "") + "완료";
      const orderId = button.data("order-id");
      const buttonClasses = button.attr("class");
      const orderButtonColor = buttonClasses.split("btn-")[1].split(" ")[0];

      const spanElement = $("<span>")
        .text(changeText)
        .attr("id", "ask_text")
        .addClass(`text-${orderButtonColor}`)
        .css("font-weight", "bold");

      button.replaceWith(spanElement);

      const pkKey = button.attr("id");

      // PUT - 접수 상태 변경 요청
      $.ajax({
        url: `/center/realtimeorder/get/${pkKey}/`,
        method: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify({ order_type: false }),
        success: function (response) {
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.error(xhr.responseText);
        }
      });

      // 체크박스 클릭
      $(document).on("click", "#flexCheckDefault", function () {
        const isChecked = $(this).prop("checked");
        const rowIndex = $(this).closest("tr").index();

        if (isChecked) {

          $.ajax({
            url: `/center/realtimeorder/get/${pkKey}/`,
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({ is_hide: true }),
            success: function (response) {
              console.log(response);
            },
            error: function (xhr, status, error) {
              console.error(xhr.responseText);
            }
          });
        }
      });

      // tooltip
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    });

  </script>


</head>


<body>
  <div class="content">
    <table class="table table-hover" id="data_table">
      <thead class="table-warning">
        <tr>
          <th scope="col"></th>
          <th scope="col">전화번호</th>
          <th scope="col">기어</th>
          <th scope="col">출발지</th>
          <th scope="col">목적지</th>
          <th scope="col">등록일</th>
          <th scope="col">접수상황</th>
          <th scope="col">최종확인</th>
        </tr>
      </thead>
      <tbody class="table-group-divider"></tbody>
    </table>

  </div>


</body>

</html>


<!--  3. 자바스크립트 인터벌 함수 사용 (5초), 돔 핸들링-->