<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>오늘 접수 확인 페이지</title>

  {% include 'center/layout/head.html' %}

  <style>
    /* content*/
    .content {
      width: 83%;
      height: 80%;
      float: left;
      color: black;
      padding-top: 17px;
      padding-right: 30px;
      font-size: 18px;
      font-family: 'Noto Sans KR', sans-serif;
    }

    .table {
      border: 1.6px solid black;
      text-align: center;
    }
  </style>

  <script>

    $(function () {

      let table;

      function getOrderdoneList() {
        $.ajax({
          url: "/center/todayorder/get/",
          method: "GET",
        }).done(function (response) {
          console.log(response);

          if (!table) {
            table = $('#data_table').DataTable({
              data: response,
              columns: [
                { title: 'ID', data: 'id', className: 'dt-head-center' },
                { title: '전화번호', data: 'phone_number', className: 'dt-head-center' },
                { title: '기어', data: 'gear_type', className: 'dt-head-center' },
                { title: '출발지', data: 'start_address', className: 'dt-head-center' },
                { title: '도착지', data: 'end_address', className: 'dt-head-center' },
                {
                  title: '주문시간',
                  data: 'updated_at',
                  className: 'dt-head-center',
                  render: function (data) {
                    const date = new Date(data);
                    return date.toLocaleString('ko-KR', { hour12: true, hour: 'numeric', minute: 'numeric', second: 'numeric' });
                  }
                },
                {
                  title: '접수정보',
                  data: null,
                  className: 'dt-head-center',
                  render: function (data) {
                    const orderKindText = data.order_kind === "order" ? '주문' : data.order_kind === "change" ? '변경' : data.order_kind === "cancel" ? '취소' : '';
                    const orderTypeText = data.order_type ? '요청' : '완료';
                    const pkKey = data.id;

                    return `
              <select class="form-select orderStatus" aria-label="Default select example" 
                      onchange="updateOrderStatus(${pkKey}, this.value)">
                <option selected>${orderKindText}${orderTypeText}</option>
                <option value="1">주문요청</option>
                <option value="2">주문완료</option>
                <option value="3">변경요청</option>
                <option value="4">변경완료</option>
                <option value="5">취소요청</option>
                <option value="6">취소완료</option>
              </select>
            `;
                  }
                }
              ]
            });
          } else {
            table.clear().rows.add(response).draw(); // Clear existing data and add new data
          }
        });
      }

      getOrderdoneList();
      setInterval(getOrderdoneList, 5000); // 5초마다 페이지 reload

      function updateOrderStatus(pkKey, selectedValue) {
        let order_kind = "";
        let order_type = null;
        let is_hide = null;

        if (selectedValue === "1") {
          order_kind = "order";
          order_type = true;
          is_hide = false;
        } else if (selectedValue === "2") {
          order_kind = "order";
          order_type = false;
          is_hide = true;
        } else if (selectedValue === "3") {
          order_kind = "change";
          order_type = true;
          is_hide = false;
        } else if (selectedValue === "4") {
          order_kind = "change";
          order_type = false;
          is_hide = true;
        } else if (selectedValue === "5") {
          order_kind = "cancel";
          order_type = true;
          is_hide = false;
        } else if (selectedValue === "6") {
          order_kind = "cancel";
          order_type = false;
          is_hide = true;
        }

        const dataToSend = { order_kind, order_type, is_hide };

        $.ajax({
          url: `/center/todayorder/get/${pkKey}/`,
          method: 'PUT',
          contentType: 'application/json',
          data: JSON.stringify(dataToSend),
          success: function (response) {
            console.log(response);
            alert("접수상황을 변경합니다.");
          },
          error: function (xhr, status, error) {
            console.error(xhr.responseText);
          }
        });
      }

    });



    // // // 5초(5000ms)마다 페이지를 다시 로드하는 함수
    // function reloadPage() {
    //   location.reload();
    // }


    function updateOrderStatus(pkKey, selectedValue) {

      let order_kind = "";
      let order_type = null;
      let is_hide = null;

      if (selectedValue === "1") {
        order_kind = "order";
        order_type = true;
        is_hide = false;
      } else if (selectedValue === "2") {
        order_kind = "order";
        order_type = false;
        is_hide = true;
      } else if (selectedValue === "3") {
        order_kind = "change";
        order_type = true;
        is_hide = false;
      } else if (selectedValue === "4") {
        order_kind = "change";
        order_type = false;
        is_hide = true;
      } else if (selectedValue === "5") {
        order_kind = "cancel";
        order_type = true;
        is_hide = false;
      } else if (selectedValue === "6") {
        order_kind = "cancel";
        order_type = false;
        is_hide = true;
      }

      const dataToSend = { order_kind, order_type, is_hide };

      $.ajax({
        url: `/center/todayorder/get/${pkKey}/`,
        method: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify(dataToSend),
        success: function (response) {
          console.log(response);
          alert("접수상황을 변경합니다.");
        },
        error: function (xhr, status, error) {
          console.error(xhr.responseText);
        }
      });
    }

// setInterval(reloadPage, 5000);
  </script>

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      {% include 'center/layout/base.html' %}
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
        <h3>오늘 접수 목록</h3>
        <div class="table-responsive">
          <table class="table table-hover" id="data_table">
            <thead></thead>
            <tbody class="table-group-divider"></tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

</body>

</html>