<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>오늘 접수 목록 확인 페이지</title>


  {% include 'center/layout/head.html' %}
  {% include 'center/layout/base.html' %}


  <style>
    /* content*/
    .content {
      width: 83%;
      height: 80%;
      float: left;
      color: black;
      padding-top: 17px;
      padding-right: 30px;
      font-size: 18px;
      font-family: 'Noto Sans KR', sans-serif;
    }

    .table {
      border: 1.6px solid black;
      text-align: center;
    }


  </style>


  <script>
    $(function () {
      function getOrderdonedataList() {
        $.ajax({
          url: "http://localhost:8000/customer/orderdata/",
          method: "GET",
        }).done(function (response) {
          console.log(response);
          const tr_array = response.map((orderdata, index) => $(
            `<tr>
                      <td>${index + 1}</td>
                      <td>${orderdata.customer_id}</td>
                      <td>${orderdata.start_address}</td>
                      <td>${orderdata.end_address}</td>
                      <td>${orderdata.operation_day}</td>
                      <td>${orderdata.order_type}</td>
                      <td>${orderdata.is_hide}</td>
                      <td>${orderdata.order_type}</td>
                  </tr>`
          ))
          $("#data_table > tbody").append(tr_array);
        });
      }

      getOrderdonedataList();
    });
  </script>

</head>

<body>
  <div class="content">
    <table class="table table-hover" id="data_table">
      <thead class="table-warning">
        <tr>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">전화번호</th>
          <th scope="col">기어</th>
          <th scope="col">출발지</th>
          <th scope="col">목적지</th>
          <th scope="col">등록일</th>
          <th scope="col">접수상황</th>
        </tr>
      </thead>
      <tbody class="table-group-divider"></tbody>
    </table>

  </div>


</body>

</html>


<!-- <td><select class="form-select" id="orderchange" size="1" aria-label="size 3 select example"> -->
<!-- 접수상황에서 셀렉트 박스 안에 원래 진행 중인 접수상태를 보여주고
      변경하고자 하면 어쩌고 정보를 뭐로 변경하시겠습니까? 하는 
      alert 창 만들기 -->

      <!-- <td>${getrealtimeorder.order_type ? "주문" : "취소"}</td>
위의 코드는 getrealtimeorder.order_type 값이 true인 경우 "주문", false인 경우 "취소"로 표시되도록 수정한 부분입니다. 주문 타입에 따라 표시할 내용을 적절하게 변경하시면 됩니다. 예를 들어, 주문 타입이 true일 때 "예약"으로 표시하려면 다음과 같이 코드를 수정할 수 있습니다.

<td>${getrealtimeorder.order_type ? "예약" : "취소"}</td> -->