<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>모든 주문 히스토리 확인 페이지</title>

  {% include 'center/layout/head.html' %}

  <style>
    /* content*/
    .content {
      width: 83%;
      height: 80%;
      float: left;
      color: black;
      padding-top: 17px;
      padding-right: 30px;
      font-size: 18px;
      font-family: 'Noto Sans KR', sans-serif;
    }

    .table {
      border: 1.6px solid black;
      text-align: center;
    }

    /* footer */
    .basefooter {
      width: 100%;
      height: 5%;
    }
  </style>

  <script>
    $(function () {

      function getTotaldataList() {
        $.ajax({
          url: "http://localhost:8000/center/todayorder/get/",
          method: "GET",
        }).done(function (data) {
          response = data;
          console.log(response);

          // 접수된 순서대로 정렬
          // response.sort(function (a, b) {
          //   return a.operation_day.localeCompare(b.operation_day);
          // });

          const tr_array = response.map((total_orderdata, index) => {

            return $(
              `<tr>
              <td>${index + 1}</td>
              <td>${total_orderdata.username}</td>
              <td>${total_orderdata.phone_number}</td>
              <td>${total_orderdata.gear_type}</td>
              <td>${total_orderdata.start_address}</td>
              <td>${total_orderdata.end_address}</td>
              <td>${total_orderdata.operation_day}</td>
              </tr>`
            );
          });

          $("#data_table > tbody").empty().append(tr_array);
        });
      }

      getTotaldataList();
    });

  </script>

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      {% include 'center/layout/base.html' %}
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
        <h3>전체 주문 목록</h3>
        <div class="table-responsive">
          <table class="table table-hover" id="data_table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">ID</th>
                <th scope="col">전화번호</th>
                <th scope="col">기어</th>
                <th scope="col">출발지</th>
                <th scope="col">목적지</th>
                <th scope="col">등록일</th>
                <th scope="col">접수상황</th>
              </tr>
            </thead>
            <tbody class="table-group-divider"></tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

  <footer class="basefooter"></footer>
</body>

</html>

<!-- ID, 등록일과 시간별로 필터 넣어서 볼 수 있게 하기 -->
