<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>모든 주문 히스토리 확인 페이지</title>

  {% include 'center/layout/head.html' %}

  <style>
    /* content*/
    .content {
      width: 83%;
      height: 80%;
      float: left;
      color: black;
      padding-top: 17px;
      padding-right: 30px;
      font-size: 18px;
      font-family: 'Noto Sans KR', sans-serif;
    }

    .table {
      border: 1.6px solid black;
      text-align: center;
    }

    .pagination {
      display: flex;
      position: fixed;
      right: 0;
      bottom: 0;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 83%;
      float: right;
    }

    .page {
      margin-right: 10px;
      cursor: pointer;
      font-size: 18px;
    }


    .pagination .page {
      margin: 0 10px;
    }


    .page.active {
      font-weight: bold;
    }

  </style>

  <script>
    let rowsPerPage = 11;
    let response = [];

    let orderKindText = "";
    let orderTypeText = "";
    let ordertime = "";

    $(function () {
      $.ajax({

        url: "http://localhost:8000/center/totalorder/get/",
        method: "GET",
        dataType: 'json'

      }).done(function (data) {

        response = data;
        console.log(response);

        response.sort(function (a, b) {
          return a.operation_day.localeCompare(b.operation_day);

        });

        $(".page").on("click", function () {
          const page = $(this).data("page");
          showTablePage(page, rowsPerPage);
        });

        showTablePage(1, rowsPerPage);

      });

    });

    function showTablePage(page, rowsPerPage) {

      $("#data_table tbody").empty();

      const startIndex = (page - 1) * rowsPerPage;
      const endIndex = Math.min(startIndex + rowsPerPage, response.length);

      for (let i = startIndex; i < endIndex; i++) {
        const total_orderdata = response[i];

        // order_kind에 따라 다른 값을 할당
        // ordertime 시간만 출력 (최근 것이 맨 위)
        if (total_orderdata.order_kind === "order") {
          orderKindText = "주문";
          ordertime = total_orderdata.created_at.slice(11, 19);
        } else if (total_orderdata.order_kind === "change") {
          orderKindText = "변경";
          ordertime = total_orderdata.updated_at.slice(11, 19);
        } else if (total_orderdata.order_kind === "cancel") {
          orderKindText = "취소";
          ordertime = total_orderdata.updated_at.slice(11, 19);
        }

        // ordertype 에 따라 orderTypeText 변경
        if (total_orderdata.order_type == true) {
          orderTypeText = "요청";
        } else {
          orderTypeText = "완료";
        }

        const row = $("<tr>");
        $("<td>").text(i + 1).appendTo(row);
        $("<td>").text(total_orderdata.username).appendTo(row);
        $("<td>").text(total_orderdata.phone_number).appendTo(row);
        $("<td>").text(total_orderdata.gear_type).appendTo(row);
        $("<td>").text(total_orderdata.start_address).appendTo(row);
        $("<td>").text(total_orderdata.end_address).appendTo(row);
        $("<td>").text(total_orderdata.operation_day).appendTo(row);
        $("<td>").text(ordertime).appendTo(row);
        $("<td>").text(orderKindText + orderTypeText).appendTo(row);

        $("#data_table").append(row);
      }

      updatePagination(page);
    }

    // ordertime 최근 것이 맨 위
    // response.sort(function (a, b) {
    //   return new Date(a.ordertime) - new Date(b.ordertime);
    // });

    function updatePagination(currentPage) {
      const totalPages = Math.ceil(response.length / rowsPerPage);
      const paginationDiv = $("#paginationDiv");
      paginationDiv.empty();

      const maxVisiblePages = 10; // 최대 표시할 페이지 번호 개수

      let startPage = currentPage - Math.floor(maxVisiblePages / 2);
      let endPage = currentPage + Math.floor(maxVisiblePages / 2);

      if (startPage <= 0) {
        startPage = 1;
        endPage = Math.min(maxVisiblePages, totalPages);
      }

      if (endPage > totalPages) {
        endPage = totalPages;
        startPage = Math.max(1, totalPages - maxVisiblePages + 1);
      }

      for (let i = startPage; i <= endPage; i++) {
        const pageElement = $("<span>")
          .addClass("page")
          .attr("data-page", i)
          .text(i);

        if (i === currentPage) {
          pageElement.addClass("active");
        }

        paginationDiv.append(pageElement);
      }

      $(".page").on("click", function () {
        const page = $(this).data("page");
        showTablePage(page, rowsPerPage);
      });
    }
  </script>

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      {% include 'center/layout/base.html' %}
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
        <h3>전체 주문 목록</h3>
        <div class="table-responsive">
          <table class="table table-hover" id="data_table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">ID</th>
                <th scope="col">전화번호</th>
                <th scope="col">기어</th>
                <th scope="col">출발지</th>
                <th scope="col">목적지</th>
                <th scope="col">운영일</th>
                <th scope="col">등록시간</th>
                <th scope="col">접수상황</th>
              </tr>
            </thead>
            <tbody class="table-group-divider"></tbody>
          </table>
        </div>
        <div class="pagination" id="paginationDiv"></div>
      </main>
    </div>
  </div>

</body>

</html>

<!-- ID, 등록일과 시간별로 필터 넣어서 볼 수 있게 하기 -->