{% load static %}
<header class="bg-light shadow-sm mb-5">
    <div class="wrap">
        <div class="d-flex flex-wrap justify-content-between">
            <img src="{% static 'logoimg/logo.png' %}" alt="Logo" width="230" height="30"
                 class="d-flex text-white text-decoration-none bi logo text-white justify-content-center align-items-center">
            <ul class="nav col-12 col-lg-auto justify-content-end text-small">
                <li>
                    <a id="headerhomebtn" href="/customer/home/" class="nav-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                             class="bi d-block mx-auto mb-1 icon" viewBox="0 0 16 16">
                            <path
                                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                        </svg>
                        <span class="blue">홈으로</span>
                    </a>
                </li>
                <li>
                    <a href="/customer/mypage/" class="nav-link" id="my_page">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                             class="bi d-block mx-auto mb-1 icon" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd"
                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        <span class="blue">내정보</span>
                    </a>
                </li>
                <li>
                    <a href="/customer/pricepage/" class="nav-link" id="pricepage">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                             class="bi d-block mx-auto mb-1 icon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                            <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                            <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                            <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                        </svg>
                        <span class="blue">요금표</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</header>
<script>
    $('#headerhomebtn').on('click', (e) => {
        e.preventDefault();

        location.href = "/customer/home/";
        keepDesiredValueOnly();
    })

    $('#my_page').on('click', (e) => {
        e.preventDefault();

        location.href = "/customer/mypage/";
        keepDesiredValueOnly();
    })

    //세션스토리지 비우기(user_id, user_name 제외하고)
    function keepDesiredValueOnly() {
        var desiredKeyList = ["user_id", "user_name", "current_x", "current_y"];

        for (var key in sessionStorage) {
            if (desiredKeyList.includes(key)) {
            } else {
                sessionStorage.removeItem(key);
            }
        }
    }
</script>


