<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'customer/layout/head.html' %}
    <style>
        .btn-row {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .btn-row {
            padding: 10px 0; /* Adjust the padding as needed */
        }

        .btn-custom {
            width: 130%; /* Ensure all buttons have the same width */
            height: 60px; /* Set the desired height for the buttons */
        }
    </style>
</head>

<body>
{% include 'customer/layout/header.html' %}


<div class="container">
    <div class="row btn-row">
        <div class="col-4">
            {% if disable_button %}
            <button type="button" class="btn btn-primary btn-block btn-custom">Order</button>
            {% else %}
            <button type="button" class="btn btn-primary btn-block btn-custom" disabled>Order</button>
            {% endif %}
        </div>
    </div>
    <div class="row btn-row">
        <div class="col-4">
            {% if disable_button %}
                <button type="button" class="btn btn-primary btn-block btn-custom">Modify</button>
            {% else %}
                <button type="button" class="btn btn-primary btn-block btn-custom" disabled>Modify</button>
            {% endif %}
        </div>
    </div>
    <div class="row btn-row">
        <div class="col-4">
            {% if disable_button %}
            <button type="button" class="btn btn-danger btn-block btn-custom">Cancel</button>
            {% else %}
            <button type="button" class="btn btn-danger btn-block btn-custom" disabled>Cancel</button>
            {% endif %}
        </div>
    </div>
</div>
{% include 'customer/layout/footer.html' %}
<script>
    $('#mypage').on('click', (e) => {
      e.preventDefault();
      location.href="/customer/mypage/"
    })
  </script>
</body>
</html>