<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'customer/layout/head.html' %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=248cf1c7c8449d3df65c6ea12e991541"></script>
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 99;
            top: 150px;
            left: 0;
            bottom: 0;
            width: 100%;
            max-height: 80%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fff;
            margin: 0 auto;
            padding: 0px;
            border: 1px solid #888;
            width: 100%;
        }

        .content_container {
            height: calc(100vh - 150px);
            justify-content: center;
        }
    </style>
</head>

<body>
    {% include 'customer/layout/header.html' %}
    <div class="container">
        <div class="content_container d-flex flex-column">
            <div id="map" style="height:350px;"></div>

            <div class="container">
                <div class=" input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">출발지</span>
                    <input type="text" class="form-control" id="search-start-point" placeholder="출발지를 검색하여 입력하세요"
                        readonly>
                </div>

                <div class=" input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">목적지</span>
                    <input type="text" class="form-control" id="search-end-point" placeholder="목적지를 검색하여 입력하세요"
                        readonly>
                </div>
            </div>

            <!-- 모달 주소검색창 -->
            <div id="addressModal" class="modal rounded-0">
                <div class="modal-content rounded-0">
                    <div class="mb-1 input-group border border-2 rounded-0">
                        <input class="form-control rounded-0" id="keywordInput" placeholder="주소를 입력하세요." />
                        <button class="btn btn-light search-button rounded-0" id="searchButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                        <button class="btn btn-light rounded-0" id="exit_button" onclick="closeModal()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path
                                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                            </svg>
                        </button>
                    </div>
                    <!-- 검색 결과 표시 창 -->
                    <div class="list-group rounded-0" id="searchResults" style="height: 50vh;"></div>
                    <!-- 검색 결과 표시 창 -->
                    <div class="list-group rounded-0" id="searchResults" style="height: 50vh;"></div>
                </div>
            </div>

            <!-- 예상 요금 섹션 -->
            <div style="display: flex; justify-content: center; align-items: center; height: 5vh;">
                <div style="display: flex; align-items: center;">
                    <span class="badge bg-secondary">예상 요금</span>
                    <div style="margin: 0 0 0 10px; display: flex; align-items: center;">
                        <div id="expectedprice">10</div>
                        <div>,000 원</div>
                    </div>
                </div>
            </div>

            <!-- 버튼 섹션 -->
            <div class="row btn-row justify-content-evenly">
                <div class="col-10 align">
                    <button id='orderchangebtn' type="button" class="btn btn-block btn-custom mt-2 text-white"
                        style="background-color: #5472d3;">변경
                        요청</button>
                </div>
            </div>

            <div class="row btn-row justify-content-evenly">
                <div class="col-10 align">
                    <button id='ordercancelbtn' type="button" class="btn btn-block btn-custom mt-2 mb-2 text-white"
                        style="background-color: #c43e00;">취소
                        요청</button>
                </div>
            </div>

            <script>

                var map
                function createMap(x, y) {
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                        mapOption = {
                            center: new kakao.maps.LatLng(y, x), // 지도의 중심좌표
                            level: 4, // 지도의 확대 레벨
                            mapTypeId: kakao.maps.MapTypeId.ROADMAP
                        };

                    // 지도를 생성한다 
                    map = new kakao.maps.Map(mapContainer, mapOption);
                    //map.setDraggable(false);
                }


                var startpoint
                var endpoint
                // 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
                var bounds = new kakao.maps.LatLngBounds();
                function setBound() {
                    const order_start_x = sessionStorage.getItem('start_x')
                    const order_start_y = sessionStorage.getItem('start_y')
                    const order_end_x = sessionStorage.getItem('end_x')
                    const order_end_y = sessionStorage.getItem('end_y')
                    var startpoint = new kakao.maps.LatLng(order_start_y, order_start_x)
                    var endpoint = new kakao.maps.LatLng(order_end_y, order_end_x)
                    if (startpoint != null) {
                        bounds.extend(startpoint);
                    }
                    if (endpoint != null) {
                        bounds.extend(endpoint);
                    }
                }


                var startmarker
                var startcustomOverlay
                function addstartmarker(x, y) {
                    if (startmarker != null || startcustomOverlay != null) {
                        hideMarkers(startmarker, startcustomOverlay);
                    }
                    // 출발지 마커를 생성합니다
                    startmarker = new kakao.maps.Marker({
                        position: new kakao.maps.LatLng(y, x),
                    });
                    startcustomOverlay = new kakao.maps.CustomOverlay({
                        content: '<div style="padding:0 5px;" class="bg-primary rounded-3 text-white text-center">출발지</div>',
                        position: new kakao.maps.LatLng(y, x), // 커스텀 오버레이를 표시할 좌표
                        xAnchor: 0.5, // 컨텐츠의 x 위치
                        yAnchor: 2.7 // 컨텐츠의 y 위치
                    });

                    // 마커가 지도 위에 표시되도록 설정합니다
                    startmarker.setMap(map);
                    startcustomOverlay.setMap(map);
                    setCenter(x, y);
                    startpoint = new kakao.maps.LatLng(y, x);
                    if (startpoint != null || endpoint != null) {
                        setBound();
                        map.setBounds(bounds);
                    }
                }
                var endmarker
                var endcustomOverlay
                function addendmarker(x, y) {
                    if (endmarker != null || endcustomOverlay != null) {
                        hideMarkers(endmarker, endcustomOverlay);
                    }
                    // 도착지 마커를 생성합니다
                    endmarker = new kakao.maps.Marker({
                        position: new kakao.maps.LatLng(y, x),
                    });
                    endcustomOverlay = new kakao.maps.CustomOverlay({
                        content: '<div style="padding:0 5px;" class="bg-primary rounded-3 text-white text-center">목적지</div>',
                        position: new kakao.maps.LatLng(y, x), // 커스텀 오버레이를 표시할 좌표
                        xAnchor: 0.5, // 컨텐츠의 x 위치
                        yAnchor: 2.7 // 컨텐츠의 y 위치
                    });

                    // 마커가 지도 위에 표시되도록 설정합니다
                    endmarker.setMap(map);
                    endcustomOverlay.setMap(map);

                    setCenter(x, y);
                    endpoint = new kakao.maps.LatLng(y, x);
                    if (startpoint != null || endpoint != null) {
                        setBound();
                        map.setBounds(bounds);
                        setCenter(((startpoint.getLng() + endpoint.getLng()) / 2), ((startpoint.getLat() + endpoint.getLat()) / 2));
                    }
                }

                function setCenter(x, y) {
                    // 이동할 위도 경도 위치를 생성합니다 
                    var moveLatLon = new kakao.maps.LatLng(y, x);

                    // 지도 중심을 이동 시킵니다
                    map.setCenter(moveLatLon);
                }

                function hideMarkers(marker, CustomOverlay) {
                    marker.setMap(null);
                    CustomOverlay.setMap(null);
                }

                // 오더 관련 스크립트

                var address_type = ''

                $(document).ready(function () {
                    keepDesiredValueOnly();

                    //해당 주문 정보 가져오기
                    const searchParama = new URLSearchParams(location.search)
                    const order_id = searchParama.get('id')
                    sessionStorage.setItem('order_id', order_id)

                    function getidorderdata() {
                        $.ajax({
                            url: `/customer/orderdata/${order_id}/`,
                            method: 'GET'
                        })
                            .done(function (response) {
                                console.log(response);
                                setValueStart(response.start_address);
                                setValueEnd(response.end_address);
                                sessionStorage.setItem('start_sectionName', response.start_section);
                                sessionStorage.setItem('end_sectionName', response.end_section);
                                sessionStorage.setItem('start_x', response.start_x);
                                sessionStorage.setItem('start_y', response.start_y);
                                sessionStorage.setItem('end_x', response.end_x);
                                sessionStorage.setItem('end_y', response.end_y);
                                setBound();
                                calculatePrice();
                                createMap(response.start_x, response.start_y);
                                addstartmarker(response.start_x, response.start_y);
                                addendmarker(response.end_x, response.end_y);
                            })
                            .fail(function (response) {
                                console.log('불러오기 실패');
                            })
                    }
                    getidorderdata();

                    sessionStorage.setItem("start_change_confirm", false);
                    sessionStorage.setItem("end_change_confirm", false);
                    //출발지 서치바 클릭
                    $('#search-start-point').click(function (event) {
                        address_type = 'start'
                        start_change_confirm = confirm("출발지를 변경하시겠습니까?");
                        if (start_change_confirm == true) {
                            initSearchModal();
                            openModal();
                        } else { }
                    });

                    //도착지 서치바 클릭
                    $('#search-end-point').click(function (event) {
                        address_type = 'end'
                        start_change_confirm = confirm("목적지를 변경하시겠습니까?");
                        if (start_change_confirm == true) {
                            initSearchModal();
                            openModal();
                        } else { }
                    });
                });

                function openModal() {
                    $('#addressModal').css('display', 'block');
                }

                // 모달 닫기
                function closeModal() {
                    $('#addressModal').css('display', 'none');
                }

                function setValueStart(value) {
                    // 출발지 인풋 박스에 값을 설정
                    document.getElementById('search-start-point').value = value;
                }

                function setValueEnd(value) {
                    // 도착지 인풋 박스에 값을 설정
                    document.getElementById('search-end-point').value = value;
                }

                function uploadStartSession(addressName, roadAddressName, placeName, categoryGroupName, x, y, sectionName) {
                    // 세션에 받아온 값들 저장(출발지)
                    sessionStorage.setItem('start_address_name', addressName);
                    sessionStorage.setItem('start_road_address_name', roadAddressName);
                    sessionStorage.setItem('start_place_name', placeName);
                    sessionStorage.setItem('start_category_group_name', categoryGroupName);
                    sessionStorage.setItem('start_x', x);
                    sessionStorage.setItem('start_y', y);
                    sessionStorage.setItem('start_sectionName', sectionName);
                }

                function uploadEndSession(addressName, roadAddressName, placeName, categoryGroupName, x, y, sectionName) {
                    // 세션에 받아온 값들 저장(도착지)
                    sessionStorage.setItem('end_address_name', addressName);
                    sessionStorage.setItem('end_road_address_name', roadAddressName);
                    sessionStorage.setItem('end_place_name', placeName);
                    sessionStorage.setItem('end_category_group_name', categoryGroupName);
                    sessionStorage.setItem('end_x', x);
                    sessionStorage.setItem('end_y', y);
                    sessionStorage.setItem('end_sectionName', sectionName);
                }

                // 모달 컨트롤 js
                function searchPlaces(keyword) {
                    var apiUrl = "https://dapi.kakao.com/v2/local/search/keyword";
                    var apiKey = "03822d0904427e2e6efef1126ac76f2e"; // 발급받은 카카오 API 키를 넣으세요.

                    $.ajax({
                        url: apiUrl,
                        method: "GET",
                        headers: {
                            "Authorization": "KakaoAK " + apiKey,
                        },
                        data: {
                            query: keyword,
                            size: 7,
                            x: sessionStorage.getItem("current_x") || null,
                            y: sessionStorage.getItem("current_y") || null,
                            rect: "126.1665,33.5858,126.9019,33.2846"
                        },
                        success: function (response) {
                            // AJAX 요청이 성공하면 실행될 콜백 함수
                            displayResults(response);
                        },
                        error: function (error) {
                            // AJAX 요청이 실패하면 실행될 콜백 함수
                            console.error("에러 발생:", error);
                        }
                    });
                }

                // 검색 창 모달을 초기화 하는 함수
                function initSearchModal() {
                    var resultsDiv = $("#searchResults");
                    resultsDiv.empty(); // 이전 검색 결과 지우기
                    $("#keywordInput").val("");
                }


                // 검색 결과를 화면에 표시하는 함수
                function displayResults(data) {
                    var resultsDiv = $("#searchResults");
                    resultsDiv.empty(); // 이전 검색 결과 지우기
                    if (data.documents.length === 0) {
                        resultsDiv.append(`<div class = "m-2">서비스 지역이 아니거나 해당 키워드의 검색 결과가 없습니다.</div>
                        <div class = "m-2">다시 검색해주세요.</div>
                        <div class = "m-2">서비스 지역은 화면 아래에 있는 "요금안내"를 참고해주세요.</div>`)
                    } else {
                        // 검색 결과를 반복문을 통해 표시
                        data.documents.forEach(function (place) {
                            var addressName = place.address_name;
                            var roadAddressName = place.road_address_name;
                            var placeName = place.place_name;
                            var categoryGroupName = place.category_group_name;
                            var address_x = place.x;
                            var address_y = place.y;

                            resultsDiv.append(
                                `<a class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1" id="placeName">${placeName}</h6>
                            <small id="categoryGroupName">${categoryGroupName}</small>
                            </div>
                            <p class="mb-1" id="roadAddressName" value="${roadAddressName}"><span class="badge bg-secondary" style="width: 50px;">도로명</span>&nbsp;${roadAddressName}</p>
                            <p class="mb-1" id="addressName" value="${addressName}"><span class="badge bg-secondary" style="width: 50px;">지&nbsp;번</span>&nbsp;${addressName}</p>
                            <input type="hidden" style="display:none;" id="address_x" value="${address_x}"></input>
                            <input type="hidden" style="display:none;" id="address_y" value="${address_y}"></input>
                            </a>`
                            );
                        });
                    }
                }


                $(document).ready(function () {
                    // 검색 버튼을 클릭하면 검색 수행
                    $("#searchButton").click(function () {
                        if ($("#keywordInput").val() == "") {
                            alert("주소를 입력해주세요.");
                        } else {
                            var keyword = $("#keywordInput").val();
                            searchPlaces(keyword);
                        }
                    });


                    // 검색 결과의 각 주소를 클릭하면 onAddressClick 함수를 호출하도록 수정
                    $("#searchResults").on("click", "a.list-group-item", function () {
                        var addressName = $(this).find("#addressName").attr('value');
                        var roadAddressName = $(this).find("#roadAddressName").attr('value');
                        var placeName = $(this).find("#placeName").text();
                        var categoryGroupName = $(this).find("#categoryGroupName").text();
                        var x = $(this).find("#address_x").attr('value');
                        var y = $(this).find("#address_y").attr('value');
                        var sectionName = "";

                        var roadname = roadAddressName.split(" ")[2]
                        var roadnumber = parseInt(roadAddressName.split(" ")[3])
                        if (roadname == "노형로") {
                            if (roadnumber >= 177 && roadnumber <= 278) {
                                sectionName = "월산"
                            } else {
                                sectionName = addressName.split(" ")[2].substr(0, 2);
                            }
                        } else if (roadname == "월산남길") {
                            if (roadnumber >= 1 && roadnumber <= 110) {
                                sectionName = "월산"
                            } else {
                                sectionName = addressName.split(" ")[2].substr(0, 2);
                            }
                        } else if (roadname == "월산북길") {
                            if (roadnumber >= 1 && roadnumber <= 77) {
                                sectionName = "월산"
                            } else {
                                sectionName = addressName.split(" ")[2].substr(0, 2);
                            }
                        } else {
                            sectionName = addressName.split(" ")[2].substr(0, 2);
                        }

                        if (address_type == 'start') {
                            uploadStartSession(addressName, roadAddressName, placeName, categoryGroupName, x, y, sectionName);
                            setValueAndCloseStart(placeName);
                            addstartmarker(x, y);
                        } else if (address_type == 'end') {
                            uploadEndSession(addressName, roadAddressName, placeName, categoryGroupName, x, y, sectionName);
                            setValueAndCloseEnd(placeName);
                            addendmarker(x, y);
                        }
                    });
                });

                function setValueAndCloseStart(value) {
                    setValueStart(value);
                    closeModal();
                    calculatePrice();
                    sessionStorage.setItem('start_change_confirm', true);
                }

                function setValueAndCloseEnd(value) {
                    setValueEnd(value);
                    closeModal();
                    calculatePrice();
                    sessionStorage.setItem('end_change_confirm', true);
                }

                var historyselected_start = false;
                var historyselected_end = false;
                //AddressHistory 관련 js
                $('#keywordInput').click(function () {
                    if (address_type == "start") {
                        getstarthistorylist();
                    } else {
                        getendhistorylist();
                    }
                    // History 검색 결과의 각 주소를 클릭
                    $("#searchHistory").on("click", "a.list-group-item", function () {
                        var raw_address = $(this).text();
                        var trans_address = $(this).find("#trans_address").attr('value');
                        var road_address = $(this).find("#road_address").attr('value');
                        var category_name = $(this).find("#category_name").attr('value');
                        var section_name = $(this).find("#section_name").attr('value');
                        var x = $(this).find("#location_x").attr('value');
                        var y = $(this).find("#location_y").attr('value');

                        if (address_type == 'start') {
                            uploadStartSession(trans_address, road_address, raw_address, category_name, x, y, section_name);
                            setValueAndCloseStart(raw_address);
                            addstartmarker(x, y);
                            historyselected_start = true;
                        } else if (address_type == 'end') {
                            uploadEndSession(trans_address, road_address, raw_address, category_name, x, y, section_name);
                            setValueAndCloseEnd(raw_address);
                            addendmarker(x, y);
                            historyselected_end = true;
                        }
                    });
                });

                function showHistory() {
                    $('#searchHistory').css('display', 'block');
                }
                function hideHistory() {
                    $('#searchHistory').css('display', 'none');
                }

                function getstarthistorylist() {
                    const customer_id = sessionStorage.getItem('user_id');
                    $.ajax({
                        url: `/customer/addresshistory/start/${customer_id}/`,
                        method: 'GET'
                    })
                        .done(function (response) {
                            displayhistorylist(response);
                            showHistory();
                        })
                        .fail(function (response) {
                            console.log('기록 없음');
                            hideHistory();
                        })
                }
                function getendhistorylist() {
                    const customer_id = sessionStorage.getItem('user_id');

                    $.ajax({
                        url: `/customer/addresshistory/end/${customer_id}/`,
                        method: 'GET'
                    })
                        .done(function (response) {
                            console.log(response);
                            displayhistorylist(response);
                            showHistory();
                        })
                        .fail(function (response) {
                            console.log('기록 없음');
                            hideHistory();
                        })
                }

                function DeletHistory(historyid) {
                    $.ajax({
                        url: `/customer/addresshistory/delete/${historyid}/`,
                        method: 'PUT'
                    }).done(function (response) {
                        console.log("삭제 완료");
                        if (address_type == "start") {
                            getstarthistorylist();
                        } else {
                            getendhistorylist();
                        }
                    })
                        .fail(function (response) {
                            console.log('해당 기록 없음');
                        })
                }

                function displayhistorylist(data) {
                    var resultsDiv = $("#searchHistory");
                    resultsDiv.empty(); // 이전 검색 결과 지우기

                    // 검색 결과를 반복문을 통해 표시
                    data.forEach(function (data) {
                        var historyid = data.id;
                        var raw_address = data.raw_address;
                        var trans_address = data.trans_address;
                        var road_address = data.road_address;
                        var category_name = data.category_name;
                        var section_name = data.section_name;
                        var location_x = data.location_x;
                        var location_y = data.location_y;

                        resultsDiv.append(
                            `<div class="row">
                            <div class="col-10 br-0 pr-0 border-end-0">
                                <a class="list-group-item list-group-item-action border-end-0" id="raw_address">${raw_address}
                                    <input type="hidden" style="display:none;" id="trans_address" value="${trans_address}"></input>
                                    <input type="hidden" style="display:none;" id="road_address" value="${road_address}"></input>
                                    <input type="hidden" style="display:none;" id="category_name" value="${category_name}"></input>
                                    <input type="hidden" style="display:none;" id="section_name" value="${section_name}"></input>
                                    <input type="hidden" style="display:none;" id="location_x" value="${location_x}"></input>
                                    <input type="hidden" style="display:none;" id="location_y" value="${location_y}"></input>
                                </a>
                            </div>
                            <div class="col-2 bl-0 p-0 align-middle border border-start-0">
                                <button id ="historydelbtn" type="button" class="btn btn-danger mt-1" onclick="DeletHistory(${historyid});">X</button>
                            </div>
                        </div>`
                        );
                    })
                }

                //변경 요청 버튼 관련 js
                $('#orderchangebtn').click(function (e) {
                    const start_address = sessionStorage.getItem("start_place_name")
                    const end_address = sessionStorage.getItem("end_place_name")
                    const start_section = sessionStorage.getItem("start_sectionName")
                    const end_section = sessionStorage.getItem("end_sectionName")
                    const calculated_price = sessionStorage.getItem("calculated_price")
                    const customer_id = sessionStorage.getItem("user_id")
                    const start_changed = sessionStorage.getItem("start_change_confirm")
                    const end_changed = sessionStorage.getItem("end_change_confirm")
                    const order_id = sessionStorage.getItem("order_id")

                    const start_trans_address = sessionStorage.getItem("start_address_name")
                    const start_road_address = sessionStorage.getItem("start_road_address_name")
                    const start_category_name = sessionStorage.getItem("start_category_group_name")
                    const start_x = sessionStorage.getItem("start_x")
                    const start_y = sessionStorage.getItem("start_y")

                    const end_trans_address = sessionStorage.getItem("end_address_name")
                    const end_road_address = sessionStorage.getItem("end_road_address_name")
                    const end_category_name = sessionStorage.getItem("end_category_group_name")
                    const end_x = sessionStorage.getItem("end_x")
                    const end_y = sessionStorage.getItem("end_y")

                    var order_update_confirm = confirm("주문을 변경하시겠습니까?")
                    //오더 데이터 업데이트
                    if (order_update_confirm == false) {
                    } else {
                        if (start_changed === "false" && end_changed === "false") {
                            changeFail();
                        } else if (start_changed === "true" && end_changed === "false") {
                            $.ajax({
                                url: `/customer/orderdata/${order_id}/`,
                                method: 'PUT',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    start_address: start_address,
                                    start_section: start_section,
                                    calculated_price: calculated_price,
                                    order_kind: "change",
                                    order_type: true,
                                    is_hide: false,
                                    start_x: start_x,
                                    start_y: start_y,
                                })
                            })
                            startHistoryPost();
                            changeComplete();
                        } else if (start_changed === "false" && end_changed === "true") {
                            $.ajax({
                                url: `/customer/orderdata/${order_id}/`,
                                method: 'PUT',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    end_address: end_address,
                                    end_section: end_section,
                                    calculated_price: calculated_price,
                                    order_kind: "change",
                                    order_type: true,
                                    is_hide: false,
                                    end_x: end_x,
                                    end_y: end_y,
                                })
                            })
                            endHistoryPost();
                            changeComplete();
                        } else {
                            $.ajax({
                                url: `/customer/orderdata/${order_id}/`,
                                method: 'PUT',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    start_address: start_address,
                                    end_address: end_address,
                                    start_section: start_section,
                                    end_section: end_section,
                                    calculated_price: calculated_price,
                                    order_kind: "change",
                                    order_type: true,
                                    is_hide: false,
                                    start_x: start_x,
                                    start_y: start_y,
                                    end_x: end_x,
                                    end_y: end_y,
                                })
                            })
                            startHistoryPost();
                            endHistoryPost();
                            changeComplete();
                        }
                    }
                    //변경 관련 메세지, 링크 함수
                    function changeComplete() {
                        console.log('변경성공')
                        e.preventDefault();
                        keepDesiredValueOnly();
                        location.href = "/customer/orderdetail/"
                    }
                    function changeFail() {
                        console.log('변경실패')
                        alert("변경된 내용이 없습니다.")
                    }
                    //AddressHistory 포스트 함수
                    function startHistoryPost() {
                        if (historyselected_start == false) {
                            $.ajax({
                                url: `/customer/addresshistory/${customer_id}/`,
                                method: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    raw_address: start_address,
                                    trans_address: start_trans_address,
                                    road_address: start_road_address,
                                    category_name: start_category_name,
                                    section_name: start_section,
                                    location_x: start_x,
                                    location_y: start_y,
                                    address_type: "start",
                                })
                            })
                        }
                    }
                    function endHistoryPost() {
                        if (historyselected_end == false) {
                            $.ajax({
                                url: `/customer/addresshistory/${customer_id}/`,
                                method: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    raw_address: end_address,
                                    trans_address: end_trans_address,
                                    road_address: end_road_address,
                                    category_name: end_category_name,
                                    section_name: end_section,
                                    location_x: end_x,
                                    location_y: end_y,
                                    address_type: "end"
                                })
                            })
                        }
                    }
                })

                $('#ordercancelbtn').click(function (e) {
                    const order_id = sessionStorage.getItem("order_id")
                    var cancel_confirm = confirm("주문을 취소하시겠습니까?")

                    if (cancel_confirm == false) {
                    } else {
                        $.ajax({
                            url: `/customer/orderdata/${order_id}/`,
                            method: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                order_kind: "cancel",
                                order_type: true,
                                is_hide: false
                            })
                        })
                        console.log('취소요청성공')
                        e.preventDefault();
                        keepDesiredValueOnly();
                        location.href = "/customer/orderdetail/"
                    }
                })

                $('#homebtn').click(function (e) {
                    e.preventDefault();
                    keepDesiredValueOnly();
                    location.href = "/customer/home/"
                })

                //세션스토리지 비우기(user_id, user_name 제외하고)
                function keepDesiredValueOnly() {
                    var desiredKeyList = ["user_id", "user_name", "current_x", "current_y", "order_Id"];

                    for (var key in sessionStorage) {
                        if (desiredKeyList.includes(key)) {
                        } else {
                            sessionStorage.removeItem(key);
                        }
                    }
                }

                function calculatePrice() {
                    const ss = sessionStorage.getItem('start_sectionName')
                    const es = sessionStorage.getItem('end_sectionName')
                    if (ss == null || es == null) {
                        console.log("출발지 또는 도착지 입력 안됨");
                        $('#expectedprice').text("12")
                    } else {
                        getcalculatedPrice(ss, es);
                    }

                }

                function getcalculatedPrice(ss, es) {
                    $.ajax({
                        url: `/customer/pricecalculate/${ss}/${es}/`,
                        method: 'GET'
                    })
                        .done(function (response) {
                            console.log(response);
                            $('#expectedprice').text(response.calculated_price);
                            sessionStorage.setItem('calculated_price', response.calculated_price)
                            console.log("계산완료")
                        })
                        .fail(function (response) {
                            console.log('불러오기 실패');
                            $('#expectedprice').text("12");
                            alert("예상요금을 알 수 없습니다. 서비스지역이 아닐 수 있으니, 고객센터로 문의 부탁드립니다.");
                        })
                }

            </script>
        </div>
    </div>
    {% include 'customer/layout/footer.html' %}
</body>

</html>