<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% include 'customer/layout/head.html' %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    .search-bar {
      position: relative;
    }

    .content_container {
      height: calc(100vh - 150px);
      justify-content: center;
    }
    #order-list {
      overflow: auto;
    }
  </style>

  <title>주문 상세 화면</title>
</head>

<body>
  {% include 'customer/layout/header.html' %}
  <div class="container">
    <div class="content_container d-flex flex-column">
      <div id="order-list">
      </div>

      <div class="row btn-row justify-content-evenly mt-3">
        <div class="col-10 align mt-3">
          <button type='button' class='btn btn-block btn-custom mt-3 te' style="background-color: #5472d3;">
            <a href="/customer/ordermain/" class="link-light text-white" style="text-decoration: none;">추가 접수하기</a>
          </button>
          <button type='button' class='btn btn-block btn-custom mt-3 te' style="background-color: #5472d3;">
            <a href="/customer/home/" class="link-light text-white" style="text-decoration: none;">확인</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% include 'customer/layout/footer.html' %}

  <script>
    $(function () {
      const customer_id = sessionStorage.getItem('user_id')

      function getuserorderlist() {
        $.ajax({
          url: `/customer/userorder/${customer_id}/`,
          method: 'GET'
        })
          .done(function (response) {
            displayorderlist(response);
          })
          .fail(function (response) {
            nonedata();
          })
      }

      getuserorderlist();
    })

    function displayorderlist(data) {
      var resultsDiv = $("#order-list");
      resultsDiv.empty(); // 이전 검색 결과 지우기

      // 검색 결과를 반복문을 통해 표시
      var i = 0;
      data.forEach(function (order) {
        var orderid = order.id;
        var start_address = order.start_address;
        var end_address = order.end_address;
        var order_kind = order.order_kind;
        var order_type = order.order_type;
        var calculated_price = order.calculated_price;

        resultsDiv.append(
          `<!-- 접수확인 창 -->
              <div class="border m-2">
                <!-- 주문번호 -->
                <div style="display: flex; justify-content: left; align-items: center; height: 3vh;" class="mt-2 ml-3">
                  <div style="display: flex; align-items: center;">
                    <span class="badge bg-secondary">주문 번호</span>
                    <div style="margin: 0 0 0 10px; display: flex; align-items: center;">
                      <div id="expected price">${orderid}</div>
                    </div>
                  </div>
                </div>
                <!-- 주문 주소내역 및 변경/취소버튼 -->
                <div style="align-items: center; display: flex;">
                  <div class="container mt-1 mb-2">
                    <div class="search-bar input-group mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-default">출발지</span>
                      <input type="text" class="form-control" id="search-input-top" value="${start_address}" disabled>
                    </div>
                    <div class="search-bar input-group">
                      <span class="input-group-text" id="inputGroup-sizing-default">목적지</span>
                      <input type="text" class="form-control" id="search-input-bottom" value="${end_address}" disabled>
                    </div>
                  </div>
                  <div>
                    <button class="btn mr-3 text-white" id="changeorderbutton" style="background-color: #c43e00;" onclick="location.href='/customer/orderchange/?id=${orderid}'">변경/취소</button>
                  </div>
                </div>
                <!-- 예상 요금 -->
                <div style="display: flex; justify-content: left; align-items: center; height: 3vh;" class="ml-3 mb-2">
                  <div style="display: flex; align-items: center;">
                    <span class="badge bg-secondary">예상 요금</span>
                    <div style="margin: 0 0 0 10px; display: flex; align-items: center;">
                      <div id="expected price">${calculated_price}</div>
                      <div>,000 원</div>
                    </div>
                  </div>
                </div>
                <!-- 주문 상태 -->  
                <div style="display: flex; justify-content: left; align-items: center; height: 3vh;" class="ml-3 mb-2">
                  <div style="display: flex; align-items: center;">
                    <span class="badge bg-primary">주문 상태</span>
                    <div style="margin: 0 0 0 10px; display: flex; align-items: center;">
                      <div id="order-status${i}"></div>
                    </div>
                  </div>
                </div>
              </div>`
        );

        if ((order_kind == 'order') && (order_type == true)) {
          $(`#order-status${i}`).text("주문 접수 중입니다.");
        } else if ((order_kind == 'order') && (order_type == false)) {
          $(`#order-status${i}`).text("주문이 접수되었습니다.");
        } else if ((order_kind == 'change') && (order_type == true)) {
          $(`#order-status${i}`).text("주문을 변경 중입니다.");
        } else if ((order_kind == 'change') && (order_type == false)) {
          $(`#order-status${i}`).text("변경이 완료되었습니다.");
        } else if ((order_kind == 'cancel') && (order_type == true)) {
          $(`#order-status${i}`).text("취소 요청 중입니다. 취소 완료시 창에서 사라집니다");
        }

        if (sessionStorage.getItem(`ordertype${orderid}`) === null) {
        } else if (order_type.toString() == sessionStorage.getItem(`ordertype${orderid}`)) {
        } else if (order_type.toString() != sessionStorage.getItem(`ordertype${orderid}`)) {
          alert(`${orderid}번 주문의 상태가 업데이트되었습니다!`);
          $(`#order-status${i}`).addClass('fw-bold text-danger');
        }


        sessionStorage.setItem(`ordertype${orderid}`, order_type);
        i++;
      });
    }

    function nonedata() {
      var resultsDiv = $("#order-list");
      resultsDiv.append(`<table style="height: 50vh;" class="table text-center m-0">
      <tbody>
        <tr>
          <td class="fs-1 align-middle">현재 주문이 없습니다.</td>
        </tr>
      </tbody>
    </table>`)

      var nonedata_confirm = confirm("현재 주문이 없습니다. 홈으로 이동하시겠습니까?")
      if (nonedata_confirm == true) {
        location.href = "/customer/home/"
      }
    }

    $('#homebtn').click(function (e) {
      e.preventDefault();
      location.href = "/customer/home/"
      keepDesiredValueOnly();
    })

    //세션스토리지 비우기(user_id, user_name 제외하고)
    function keepDesiredValueOnly() {
      var desiredKeyList = ["user_id", "user_name", "current_x", "current_y"];

      for (var key in sessionStorage) {
        if (desiredKeyList.includes(key)) {
        } else {
          sessionStorage.removeItem(key);
        }
      }
    }


  </script>

</body>

</html>