<!DOCTYPE html>
<html lang="en">
<head><title>Welcome to 대리운전</title>
</head>

<body>
<div class="dropdown-center">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Centered dropdown
  </button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">구좌읍31</a></li>
      <li><a class="dropdown-item" href="#">건입동17</a></li>
      <li><a class="dropdown-item" href="#">내도동7</a></li>
      <li><a class="dropdown-item" href="#">노형동10</a></li>
      <li><a class="dropdown-item" href="#">도남동15</a></li>
      <li><a class="dropdown-item" href="#">도두동11</a></li>
      <li><a class="dropdown-item" href="#">도련동24</a></li>
      <li><a class="dropdown-item" href="#">도평동6</a></li>
      <li><a class="dropdown-item" href="#">봉개동27</a></li>
      <li><a class="dropdown-item" href="#">삼도동14</a></li>
      <li><a class="dropdown-item" href="#">삼양동22</a></li>
      <li><a class="dropdown-item" href="#"></a>아라동20</li>
      <li><a class="dropdown-item" href="#">애월읍3</a></li>
      <li><a class="dropdown-item" href="#">연동13</a></li>
      <li><a class="dropdown-item" href="#">영평동25</a></li>
      <li><a class="dropdown-item" href="#">오등동23</a></li>
      <li><a class="dropdown-item" href="#">오라동19</a></li>
      <li><a class="dropdown-item" href="#"></a>용강동28</li>
      <li><a class="dropdown-item" href="#">용담동12</a></li>
      <li><a class="dropdown-item" href="#">외도동5</a></li>
      <li><a class="dropdown-item" href="#">월산9</a></li>
      <li><a class="dropdown-item" href="#">월평동26</a></li>
      <li><a class="dropdown-item" href="#">이도동16</a></li>
      <li><a class="dropdown-item" href="#">이호동8</a></li>
      <li><a class="dropdown-item" href="#">일도동18</a></li>
      <li><a class="dropdown-item" href="#">조천읍30</a></li>
      <li><a class="dropdown-item" href="#">한경면1</a></li>
      <li><a class="dropdown-item" href="#">한림읍2</a></li>
      <li><a class="dropdown-item" href="#">해안동4</a></li>
      <li><a class="dropdown-item" href="#">화북동21</a></li>
      <li><a class="dropdown-item" href="#">회천동29</a></li>
  </ul>
</div>
</body>

<footer class="bg-dark text-white pt-2 pb-2">
  <div class="container mt-2 mb-1">
    <div class="text-center">Phone: 064-000-0000</div>
  </div>
  <p style="text-align: center;" class="mb-1"><a href="#" class="link-info h6">요금 안내</a></p>
</footer>
</html>