회원가입 페이지
<br>

<form action="" method="POST">
    {% csrf_token %}
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">아이디</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">비밀번호</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">이름</label>
        <div class="col-sm-10">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">전화번호</label>
        <div class="col-sm-10">
            <input type="text" class="form-control">
        </div>
    </div>
    <fieldset class="row mb-3" style="width:140px;">
        <legend class="col-form-label col-sm-2 pt-0">기어 선택</legend>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="gridRadios1" value="option1">
                <label class="form-check-label" for="gridRadios1">
                    자동
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                    수동
                </label>
            </div>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">회원가입</button>
</form>
