<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loyout</title>
    <style>
        header {
            height: 150px;
            background-color: #ffe47e;
        }

        main { height: calc(100vh - 320px) }

        footer {
            height: 150px;
            background-color: #ffe47e;
        }
        @media screen and (max-width: 992px) {
      body {
        width: 100%;
      }
    }
    </style>
</head>

<body>
    <header>상단</header>
    <main>메인</main>
    <footer>하단</footer>
</body>

</html>